// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


:root {
    --color-light-50: #FFFFFF;
    --color-light-100: #DEE1E6;

    --color-green-50: #F4FFDC;
    --color-green-75: #98dac3;
    --color-green-100: #466258;
    
    --color-dark-75: #BDBEB3;
    --color-dark-100: #3B3C2C;
    --color-dark-900: #000000;

    --border-gradient: linear-gradient(to top, #857474, #FFFFFF)
}