// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


:root {
    --color-light-50: #FFFFFF;
    --color-light-100: #DEE1E6;

    --color-green-100: #466258;
    
    --color-dark-900: #000000;
}